.logo {
    height: 64px;
    width: 165px;
}
nav{
    background-color: $mainColor;
    div {
        div {
            svg {
                color: $secondaryColor;
                margin: 8px;
            }
        }
    }
    ul {
        .nav-link {
            color: $secondaryColor;
            &:focus,
            &:hover {
                color: $bgColor;
            }
        }
    }
}

footer {
    background-color: $mainColor;
            svg {
                margin: 8px;
            }
}