
.categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        border: $borderColor solid 2px;
    }
}

.opciones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    select {
        border:$borderColor solid 2px;
        background-color: $mainColor;
        color: $secondaryColor;
        border-radius: 5px;
        margin: 2px;
        padding: 4px;
    }
}


.productos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}

.card-info {
    @include containerFlex(row,space-between,center);
    border-top: $borderColor 1px solid;

    p::before{
        content: "$";
    }
}

.agregar {
    display: inline-block;
    margin: auto;
    padding: 12px; 
    button {
        @include containerFlex(row,space-between,center);
        gap: 4px;
        border: $mainColor solid 2px;
        border-radius: 22px;
        background-color: $mainColor;
        color:$secondaryColor;
        font-size: $xsFont;
        padding:0 14px;
        height: 38px;
        &:hover {
            transform: scale(110%);
            transition: all 0.3s ease;
        }
    }
}

.navegacion {
    span {
        color: $secondaryColor;
    }
    .page-link {
        color: $mainColor;

        &:hover {
            background-color: $mainColor;
            color: $secondaryColor;
        }
    }
} 
//------------------------------------------ Media
@media (min-width: 768px) {
    .productos {
        grid-template-columns: repeat(3,1fr);
    }
    .agregar button {
        font-size:$smFont;
    }
}

@media (min-width: 992px) {
    .productos {
        grid-template-columns: repeat(4,1fr);
    }
    .agregar button {
        font-size:$smFont;
    }
}
