* {
    font-family: 'Poppins', sans-serif;
}
.bg-blue {
    background-color: #303944;
}
.bg-white {
    background-color: #F7F8FA;
}
.txt-yellow {
    color: #EDD9AB;
}
.bg-gray {
    background-color: #A2A3B1;
}
.logo {
    height: 64px;
    width: 165px;
}
.icono {
    height: 42px;
    width: 42px;
}

svg , span{
    color:#EDD9AB;
    margin: 8px;
}

.nav-link:focus,
.nav-link:hover {
    color: #F7F8FA;
}