* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------------------------------Utilidades---> */
.bg-blue {
    background-color: #303944;
}
.bg-white {
    background-color: #F7F8FA;
}
.txt-yellow {
    color: #EDD9AB;
}
.bg-gray {
    background-color: #A2A3B1;
}
.logo {
    height: 64px;
    width: 165px;
}
.icono {
    height: 42px;
    width: 42px;
}
.fs-responsive{
    font-size: 12px;
}
.fs-responsive2{
    font-size: 15px;
}
.title-responsive {
    font-size: 20px;
}

svg , span{
    color:#EDD9AB;
    margin: 8px;
}
h1,h2,h3,h4,h5,h6,p{
    color: #303944;
}

.nav-link:focus,
.nav-link:hover {
    color: #F7F8FA;
}

.divisor {
    display: flex;
    width: 50%;
    border: #262626 solid 1px;
    margin: auto;
}

a {
    text-decoration: none;
}
.card {
    border-radius: 0;
}

.video-responsive {
    height: 250px;
}
/* <--------------------------------------------------------------------------------------------------------------------------------------------------------------newsletter-----> */
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .newsletter img {
        width: 100%;
    }
    .email-submit {
        display: flex;
        border: 2px solid #EDEDED;
        border-radius: 5px;
        width:100%;
    }
        .email-submit .mail {
            border: none;
            padding: 12px;
            width: 70%;
        }
        .email-submit .subm {
            background-color: #303944;
            color: #EDD9AB;
            width: 30%;
            border: none;
            border-radius: 0 5px 5px 0;
        }
/* <!---------------------------------------------------------------------------------------------------------------------------------------------------------------productos---> */


.categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .categorias button {
        border: #A2A3B1 solid 2px;
    }

.opciones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
    .opciones select {
        border:#A2A3B1 solid 2px;
        background-color: #303944;
        color: #EDD9AB;
        border-radius: 5px;
        margin: 2px;
        padding: 4px;
    }


.productos {
    grid-row: 3/4;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #A2A3B1 1px solid;
}
    .card-info p::before{
        content: "$";
    }

.agregar {
    display: inline-block;
    margin: auto;
    padding: 12px;
}
    .agregar button {
        border: #303944 solid 2px;
        border-radius: 22px;
        background-color: #303944;
        color:#EDD9AB;
        padding-left: 14px;
        font-size: 9PX;
    }
    .agregar button:hover {
        transform: scale(110%);
        transition: all 0.3s ease;
    }

.navegacion a{
    color: #303944;
}
.navegacion a:hover,.navegacion span:hover {
    background-color: #303944;
    color: #EDD9AB;
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------------------------------Contacto---> */

.formulario form {
    background-color:#303944;
    border-radius: 12px;
    font-size: small;
    font-weight: 300;
    margin: 16px;
}
    .formulario form div {
        background-color: #303944;
        padding-top: 50px;
        width: 100%;
    }
        .formulario form div input {
            background-color: #303944;
            border: none;
            border-bottom: #EDD9AB solid 1px;
            width: 100%;
            color: #EDD9AB;
        }
        .formulario form div input::placeholder {
            color: #EDD9AB;
            font-size: small;
            font-weight: 300;
        }
        .formulario form div label {
            color: #EDD9AB;
            background-color: #303944;
            display: block;
            margin-bottom: 3px;
        }
        .formulario form div textarea {
            background-color: #303944;
            resize: none;
            border: #EDD9AB solid 1px;
            border-radius: 5px;
            width: 100%;
            color: #EDD9AB;
        }
            .formulario form div:last-child input{
                display: block;
                margin: auto;
                color: #303944;
                background-color: #EDD9AB;
                padding: 12px 80px;
                font-weight: 600;
                border-radius: 12px;
            }
/* <--------------------------------------------------------------------------------------------------------------------------------------------------------------Sobre Nosotros-----> */
.nosotros p {
    border-top:#A2A3B1 solid 5px;
    border-bottom:#A2A3B1 solid 5px;
    margin: 0;
}
.datos {
    text-align: center;
    border-radius: 12px;
    padding: 8px;
    width: max-content;
    margin: auto;
}
    .datos ul li {
        list-style: none;
        margin: 12px;
    }
        .datos ul li img {
            margin: 8px;
            height: 30px;
            width: 30px;
        }
/* <--------------------------------------------------------------------------------------------------------------------------------------------------------------Carrito-----> */
.carrito {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(2,1fr) ;
}

.productoEnCarrito {  
    grid-column: 1/7;
    align-self: flex-start;
    border-bottom: #262626 1px solid;
}

    .productoEnCarrito img {
        border:#A2A3B1 solid 2px;
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
    .productoEnCarrito button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #E14B4B;
    }
    .productoEnCarrito select {
        border: solid #A2A3B1 2px;
        border-radius: 4px;
    }
    .productoEnCarrito div input {
        border: solid #A2A3B1 2px;
        border-radius: 4px;
    }

.free {
    color: #3AA39F;
}

.pago {
    /* height: 50%; */
    grid-row: 2/3;
    grid-column: 1/7;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #D1D1D8;
}
    .pago table {
        width: 100%;
    }
    .pago table tr {
        display: flex;
        justify-content: space-between;
    }
    .pago div {
        border:solid #A2A3B1 2px;
    }
    .pago input,button {
        border: none;
    }
    .pago .pagar {
        width: 100%;
        height: 50PX;
        background-color: #303944;
        color: #EDD9AB;
        border-radius: 4px;
    }

/* <!---------------------------------------------------------------------------------------------------------------------------------------------------------------Breakpoints(MD--LG)---> */

@media (min-width: 768px) {
    .fs-responsive {
        font-size: 18px;
    }
    .fs-responsive2 {
        font-size: 22px;
    }
    .title-responsive {
        font-size: 32px;
    }
    .email-submit {
        width: 70%;
    }
    .video-responsive {
        height: 450px;
    }
    /*Productos --------------------------------------------------------------- */
    .productos {
        grid-template-columns: repeat(3,1fr);
    }
    .agregar button {
        font-size:14px;
    }
    /*Contacto --------------------------------------------------------------- */
    .formulario form{
        margin: 48px;
    }
    .formulario form div:last-child input {
        width: 50%;
    }

    /*Carrito--------------------------------------------------------------- */
    .pago .pagar {
        display:block;
        width: 70%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .fs-responsive {
        font-size: 22px;
    }
    .fs-responsive2 {
        font-size: 25px;
    }
    .title-responsive {
        font-size: 40px;
    }
    .email-submit {
        width: 50%;
    }
    .video-responsive {
        height: auto;
    }
    /*Productos --------------------------------------------------------------- */
    .productos {
        grid-template-columns: repeat(4,1fr);
    }
    /*Contacto --------------------------------------------------------------- */
    .formulario form{
        width: 50%;
        margin:auto;
    }
    /*Carrito--------------------------------------------------------------- */
    .carrito {
        grid-template-columns: repeat(12,1fr);
    }
    .productoEnCarrito {  
        grid-column: 2/7;
    }
    .pago {
        grid-row: 1/2;
        grid-column: 8/12;
    }
    .pago .pagar {
        width: 70%;
    }

}