* {
    font-family: 'Poppins', sans-serif;
}
.bg-blue {
    background-color: #303944;
}
.bg-white {
    background-color: #F7F8FA;
}
.txt-yellow {
    color: #EDD9AB;
}
.bg-gray {
    background-color: #A2A3B1;
}
.logo {
    height: 64px;
    width: 165px;
}
.icono {
    height: 42px;
    width: 42px;
}
.fs-responsive{
    font-size: 12px;
}
.title-responsive {
    font-size: 20px;
}

svg , span{
    color:#EDD9AB;
    margin: 8px;
}

.nav-link:focus,
.nav-link:hover {
    color: #F7F8FA;
}

.divisor {
    display: flex;
    width: 50%;
    border: #262626 solid 1px;
}

a {
    text-decoration: none;
}

/* <-------------------------------------------------------------------------------------------------------------------------------------------------------------------> */
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .newsletter img {
        width: 100%;
    }
    .email-submit {
        display: flex;
        border: 2px solid #EDEDED;
        border-radius: 5px;
        width:100%;
    }
        .email-submit .mail {
            border: none;
            padding: 12px;
            width: 70%;
        }
        .email-submit .subm {
            background-color: #303944;
            color: #EDD9AB;
            width: 30%;
            border: none;
            border-radius: 0 5px 5px 0;
        }





@media (min-width: 768px) {
    .fs-responsive {
        font-size: 18px;
    }
    .title-responsive {
        font-size: 32px;
    }
    .email-submit {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .fs-responsive {

        font-size: 22px;
    }
    .title-responsive {
        font-size: 40px;
    }

}